* {
  margin: 0px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  justify-content: space-between;
}

.trybewarts-header-logo {
  display: flex;
  width: 50px;
  padding: 5px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-basis: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  display: flex;
  justify-content: center;
}

.form-header {
  padding: 5px;
  border-radius: 5px;
  display: flex;
  width: 130px;
  margin-right: 7px;
}

#login {
  display: flex;
  width: 90px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-right: 20px;
}

header h1 {
  color: white;
  align-self: center;
}
